/* AddressForm.css */
.custom-modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

}
