/* Navbar Styles */
.navbar {
  flex-direction: column;
  width: 100%;
  padding: 0.8rem 1rem;
}

.navbar-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
}

.cart-badge {
  font-family: 'Ubuntu', sans-serif;
}

.icon {
  font-size: 1.5rem;
}

.navbar-right li span {
  font-size: 0.6rem;
}

.notification-icon {
  font-size: 0.2rem;
  padding: 0.4rem;
  height: 1.2rem;
  top: -5px;
}

.navbar-right li {
  cursor: pointer;
}

.navbar-right li:hover {
  opacity: 0.8;
}

.navbar-right li img {
  margin-top: 5px;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0.4rem 0.9rem;
  gap: 0.5rem;
  border-radius: var(--border-lg);
  width: 25%;
  overflow: hidden;
}

.search-bar {
  outline: none;
  border: none;
  width: 100%;
}

.search-container .fa {
  color: var(--main-color);
}

.search-bar::placeholder {
  color: var(--lightGrey);
  font-weight: var(--font-light);
}

.primary-btn {
  cursor: pointer;
  background-color: var(--link);
  color: var(--white);
  padding: 0.5rem 0;
}

.login-btn {
  font-size: 1.25rem;
  font-weight: var(--font-semiBold);
  letter-spacing: 0.5px;
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navbar-left h3 {
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem;
  }

  .navbar-right {
    gap: 1rem;
  }

  .navbar-left a h2 {
    font-size: 1.5rem;
  }

  .search-container {
    display: none;
  }

  .search-mob {
    display: flex;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .navbar-main {
    flex-direction: column;
    align-items: center;
  }

  .navbar-right {
    gap: 0.5rem;
  }

  .icon {
    font-size: 1.2rem;
  }

  .navbar-right img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .search-container {
    width: 30%;
  }
}