.wishlist-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centering the cards */
    padding: 3.1rem;
}

.wishist-cart-flex {
    flex-wrap: wrap !important;
    display: flex;
    justify-content: center;
}

.wishlist-heading {
    padding-top: 20px;
    font-size: 1.87rem;
    text-align: center;
}

img.image-card-wishlist {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card-with-badge-wishlist {
    color: red;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button, .add-cart-btn-wishlist {
    width: 100%;
    background-color: #009270;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
}

.cart-button:hover, .add-cart-btn-wishlist:hover {
    background-color: #04604b;
    transform: scale(1.05);
}

.price-wishlist {
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 5px;
}

.card-container-wishlist {
    width: 200px;
    background-color: var(--white-color);
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    transition: transform 0.2sease-in-out;
}

.card-container-wishlist:hover {
    transform: scale(1.05);
}

.description-wishlist {
    background-color: var(--bg-color);
    /* padding: 10px; */
    margin: 0;
    border-top: 1px solid var(--light-gray-color);
}
